<div class='bg-white'>
  <div *ngIf='mobileFiltersIsOpen' class='fixed inset-0 flex z-40 sm:hidden' role='dialog' aria-modal='true'>
    <div class='fixed inset-0 bg-black bg-opacity-25' aria-hidden='true'></div>

    <div class='ml-auto relative max-w-xs w-full h-full bg-white shadow-xl py-4 pb-12 flex flex-col overflow-y-auto'>
      <div class='px-4 flex items-center justify-between'>
        <h2 class='text-lg font-medium text-gray-900'>Filters</h2>
        <button (click)='closeMobileFilters()'
                type='button'
                class='-mr-2 w-10 h-10 bg-white p-2 rounded-md flex items-center justify-center text-gray-400'>
          <span class='sr-only'>Close menu</span>
          <!-- Heroicon name: outline/x -->
          <svg class='h-6 w-6' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'
               aria-hidden='true'>
            <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12' />
          </svg>
        </button>
      </div>

      <!-- Filters -->
      <form class='mt-4'>
        <div *ngIf='showCategoryDropdownMenu'
             class='border-t border-gray-200 px-4 py-6'>
          <h3 class='-mx-2 -my-3 flow-root'>
            <!-- Expand/collapse section button -->
            <button type='button'
                    class='px-2 py-3 bg-white w-full flex items-center justify-between text-sm text-gray-400'
                    aria-controls='filter-section-0' aria-expanded='false'>
              <span class='font-medium text-gray-900'>
                Category
              </span>
              <span class='ml-6 flex items-center'>
                <!--
                  Expand/collapse icon, toggle classes based on section open state.

                  Heroicon name: solid/chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
                <svg class='rotate-0 h-5 w-5 transform' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'
                     fill='currentColor' aria-hidden='true'>
                  <path fill-rule='evenodd'
                        d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z'
                        clip-rule='evenodd' />
                </svg>
              </span>
            </button>
          </h3>
          <!-- Filter section, show/hide based on section state. -->
          <div class='pt-6' id='filter-section-0'>
            <div class='space-y-6'>
              <div *ngIf='!categories; else categoriesFilterList'>
                loading...
              </div>
              <ng-template #categoriesFilterList>
                <div *ngFor='let category of categories' class='flex items-center'>
                  <input id='filter-mobile-category-0'
                         name='category[]'
                         [value]='category.formatName'
                         type='checkbox'
                         class='h-4 w-4 border-gray-300 rounded text-green-600 focus:ring-green-500'>
                  <label for='filter-mobile-category-0' class='ml-3 text-sm text-gray-500'>
                    {{ category.name }}
                  </label>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class='max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8'>
    <h1 class='text-3xl font-extrabold tracking-tight text-gray-900'>
      {{ (category?.name ?? 'all-products') | firstLetterTitleCase }}
    </h1>
    <p class='mt-4 max-w-xl text-sm text-gray-700'>
      {{ (category?.description ?? 'All products') }}
    </p>
  </div>

  <section aria-labelledby='filter-heading'>
    <h2 id='filter-heading' class='sr-only'>Filters</h2>

    <div class='relative bg-white border-b border-gray-200 pb-4'>
      <div class='max-w-7xl mx-auto px-4 flex items-center justify-between sm:px-6 lg:px-8'>
        <div class='relative inline-block text-left'>
          <div>
            <button (click)='toggleSortDropDownMenu()'
                    type='button'
                    class='group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900'
                    id='menu-button' aria-expanded='false' aria-haspopup='true'>
              Sort
              <svg class='flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500'
                   xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' aria-hidden='true'>
                <path fill-rule='evenodd'
                      d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z'
                      clip-rule='evenodd' />
              </svg>
            </button>
          </div>

          <div *ngIf='sortDropdownMenuIsOpen'
               class='origin-top-left absolute left-0 mt-2 w-40 rounded-md shadow-2xl bg-white ring-1 ring-black ring-opacity-5 focus:outline-none'
               role='menu' aria-orientation='vertical' aria-labelledby='menu-button' tabindex='-1'>
            <div class='py-1' role='none'>
              <button (click)="emitSort('defaultPrice', 'ASC', 'lowerPrice')"
                      class='text-gray-500 block px-4 py-2 text-sm w-full hover:bg-gray-100' role='menuitem'
                      tabindex='-1'
                      [class.font-medium]="selectedSortMethod == 'lowerPrice'"
                      [class.text-gray-900]="selectedSortMethod == 'lowerPrice'"
                      id='menu-item-0'>
                Lower Price
              </button>

              <button (click)="emitSort('defaultPrice', 'DESC', 'highestPrice')"
                      class='text-gray-500 block px-4 py-2 text-sm w-full hover:bg-gray-100' role='menuitem'
                      tabindex='-1' id='menu-item-1'
                      [class.font-medium]="selectedSortMethod == 'highestPrice'"
                      [class.text-gray-900]="selectedSortMethod == 'highestPrice'">
                Highest Price
              </button>
            </div>
          </div>
        </div>

        <button (click)='openMobileFilters()'
                type='button'
                class='inline-block text-sm font-medium text-gray-700 hover:text-gray-900 sm:hidden'>
          Filters
        </button>

        <div class='hidden sm:block'>
          <div class='flow-root'>
            <div class='-mx-4 flex items-center divide-x divide-gray-200'>
              <div *ngIf='showCategoryDropdownMenu'
                   class='px-4 relative inline-block text-left'>
                <button (click)='toggleCategoryDropdownMenuIsOpen()'
                        type='button'
                        class='group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900'
                        aria-expanded='false'>
                  <span>Category</span>

                  <span
                    class='ml-1.5 rounded py-0.5 px-1.5 bg-gray-200 text-xs font-semibold text-gray-700 tabular-nums'>1</span>
                  <svg class='flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500'
                       xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' aria-hidden='true'>
                    <path fill-rule='evenodd'
                          d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z'
                          clip-rule='evenodd' />
                  </svg>
                </button>
                <div *ngIf='categoryDropdownMenuIsOpen'
                     class='origin-top-right absolute right-0 mt-2 bg-white rounded-md shadow-2xl p-4 ring-1 ring-black ring-opacity-5 focus:outline-none'>
                  <form class='space-y-4'>
                    <div *ngIf='!categories; else categoriesFilterList'>
                      loading...
                    </div>
                    <ng-template #categoriesFilterList>
                      <div *ngFor='let category of categories' class='flex items-center'>
                        <input id='filter-category-0'
                               name='category[]'
                               [value]='category.formatName'
                               type='checkbox'
                               class='h-4 w-4 border-gray-300 rounded text-green-600 focus:ring-green-500'>
                        <label for='filter-category-0'
                               class='ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap'>
                          {{ category.name }}
                        </label>
                      </div>
                    </ng-template>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Active filters -->
    <div class='bg-gray-100'>
      <div class='max-w-7xl mx-auto py-3 px-4 sm:flex sm:items-center sm:px-6 lg:px-8'>
        <h3 class='text-xs font-semibold uppercase tracking-wide text-gray-500'>
          Filters
          <span class='sr-only'>, active</span>
        </h3>

        <div aria-hidden='true' class='hidden w-px h-5 bg-gray-300 sm:block sm:ml-4'></div>

        <div class='mt-2 sm:mt-0 sm:ml-4'>
          <div class='-m-1 flex flex-wrap items-center'>
            <span
              class='m-1 inline-flex rounded-full border border-gray-200 items-center py-1.5 pl-3 pr-2 text-sm font-medium bg-white text-gray-900'>
              <span>Objects</span>
              <button type='button'
                      class='flex-shrink-0 ml-1 h-4 w-4 p-1 rounded-full inline-flex text-gray-400 hover:bg-gray-200 hover:text-gray-500'>
                <span class='sr-only'>Remove filter for Objects</span>
                <svg class='h-2 w-2' stroke='currentColor' fill='none' viewBox='0 0 8 8'>
                  <path stroke-linecap='round' stroke-width='1.5' d='M1 1l6 6m0-6L1 7' />
                </svg>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

