<div class='grid lg:grid-cols-3 md:grid-cols-2 gap-6 w-full max-w-6xl'>
  <a routerLink='/profile/orders' class='flex items-center p-4 bg-white rounded'>
    <div class='flex flex-shrink-0 items-center justify-center bg-green-200 h-16 w-16 rounded'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        class='h-6 w-6'
        fill='none'
        viewBox='0 0 24 24'
        stroke='rgb(4, 120, 87)'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4'
        />
      </svg>
    </div>
    <div class='flex-grow flex flex-col ml-4'>
      <span class='text-xl font-bold'>Orders</span>
      <div class='flex items-center justify-between'>
        <span class='text-gray-500'>Number of orders</span>
        <span class='text-green-500 text-sm font-semibold ml-2'>8</span>
      </div>
    </div>
  </a>

  <a routerLink='/profile/favourites' class='flex items-center p-4 bg-white rounded'>
    <div class='flex flex-shrink-0 items-center justify-center bg-green-200 h-16 w-16 rounded'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        class='h-6 w-6'
        fill='none'
        viewBox='0 0 24 24'
        stroke='rgb(4, 120, 87)'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z'
        />
      </svg>
    </div>
    <div class='flex-grow flex flex-col ml-4'>
      <span class='text-xl text-green- font-bold'>Favourites</span>
      <div class='flex items-center justify-between'>
        <span class='text-gray-500'>Number of favourite items</span>
        <span class='text-green-500 text-sm font-semibold ml-2'>23</span>
      </div>
    </div>
  </a>

  <a routerLink='/profile/settings' class='flex items-center p-4 bg-white rounded'>
    <div class='flex flex-shrink-0 items-center justify-center bg-green-200 h-16 w-16 rounded'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        class='h-6 w-6'
        fill='none'
        viewBox='0 0 24 24'
        stroke='rgb(4, 120, 87)'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z'
        />
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M15 12a3 3 0 11-6 0 3 3 0 016 0z'
        />
      </svg>
    </div>
    <div class='flex-grow flex flex-col ml-4'>
      <span class='text-xl font-bold'>Settings</span>
      <div class='flex items-center justify-between'>
        <span class='text-gray-500'>Change your settings</span>
      </div>
    </div>
  </a>
</div>
