<div class='bg-white overflow-hidden mt-5'>
  <div>
    <dl>
      <div class='bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6'>
        <dt class='text-sm font-medium text-gray-500'>First name</dt>
        <dd (click)='openEditNameDialog()'
            class='mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2'>
          <span matTooltip='Edit first name'>{{ user.firstName }}</span>
        </dd>
      </div>
      <div class='bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6'>
        <dt class='text-sm font-medium text-gray-500'>Last name</dt>
        <dd (click)='openEditNameDialog()'
            class='mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2'>
          <span matTooltip='Edit last name'>{{ user.lastName }}</span>
        </dd>
      </div>
      <div class='bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6'>
        <dt class='text-sm font-medium text-gray-500'>Email address</dt>
        <dd (click)='openEditNameDialog()'
            class='mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2'>
          <span matTooltip='Edit email name'>{{ user.email }}</span>
        </dd>
      </div>
    </dl>
  </div>
  <button
    (click)='openEditNameDialog()'
    class='mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm'
  >
    Edit
  </button>
</div>
