<tr class='w-full'>
  <td class='px-5 py-5 border-b border-gray-200 bg-white text-sm'>
    <div class='flex items-center'>
      <div class='flex-shrink-0'>
        <a [routerLink]="['/products', item.category, item.id]" class='block relative'>
          <img
            alt='Photo of product'
            src='https://randomuser.me/api/portraits/lego/1.jpg'
            class='mx-auto object-cover h-10 w-10'
          />
        </a>
      </div>
      <div class='ml-3'>
        <p class='text-gray-900 font-medium whitespace-no-wrap'>
          {{ item.name | truncate:30 }}
        </p>
      </div>
    </div>
  </td>
  <td class='px-5 py-5 border-b border-gray-200 bg-white text-sm align-middle'>
    <p class='mx-auto text-gray-500 whitespace-no-wrap'>${{ item.price }}</p>
  </td>
  <td class='px-5 py-5 border-b border-gray-200 bg-white text-sm align-middle'>
    <p class='mx-auto text-gray-500 whitespace-no-wrap'>{{ item.quantity }}</p>
  </td>
</tr>
