<div class='max-w-7xl mx-auto px-4 mt-10 mb-32 sm:px-6 lg:px-8'>
  <div class='-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8'>
    <div class='align-middle inline-block min-w-full'>
      <div class='shadow overflow-hidden border-b border-gray-200 sm:rounded-lg'>
        <table class='min-w-full divide-y divide-gray-200'>
          <thead class='bg-gray-50'>
          <tr>
            <th
              scope='col'
              class='px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'
            >
              No.
            </th>
            <th
              scope='col'
              class='px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'
            >
              Name
            </th>
            <th
              scope='col'
              class='px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'
            >
              Format Name
            </th>
            <th
              scope='col'
              class='px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'
            >
              Description
            </th>
            <th
              scope='col'
              class='px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'
            >
              Products
            </th>
            <th
              scope='col'
              class='px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'
            >
              Actions
            </th>
          </tr>
          </thead>
          <tbody class='bg-white divide-y divide-gray-200'>
          <shopify-category-table-row
            *ngFor='let category of categories; trackBy: trackByCategoryId; let i = index'
            [category]='category'
            [index]='getIndexForTableRow(i)'
          >
          </shopify-category-table-row>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

