<div class='relative bg-white pt-5 px-4 pb-12 sm:pt-6 sm:px-6 shadow rounded-lg overflow-hidden'>
  <dt>
    <div class='absolute bg-green-500 rounded-md p-3'>
      <svg class='h-6 w-6 text-white' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'
           stroke='currentColor' aria-hidden='true'>
        <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
              d='M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z' />
      </svg>
    </div>
    <p class='ml-16 text-sm font-medium text-gray-500 truncate'>Total Users</p>
  </dt>
  <dd class='ml-16 pb-6 flex items-baseline sm:pb-7'>
    <p *ngIf='count; else loading' class='text-2xl font-semibold text-gray-900'>
      {{ count }}
    </p>
    <p *ngIf='count; else loading' class='ml-2 flex items-baseline text-sm font-semibold text-green-600'>
      <svg class='self-center flex-shrink-0 h-5 w-5 text-green-500' xmlns='http://www.w3.org/2000/svg'
           viewBox='0 0 20 20' fill='currentColor' aria-hidden='true'>
        <path fill-rule='evenodd'
              d='M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z'
              clip-rule='evenodd' />
      </svg>
      <span class='sr-only'>Increased by</span>122
    </p>
    <ng-template #loading>
      <mat-spinner diameter='32'></mat-spinner>
    </ng-template>
    <div class='absolute bottom-0 inset-x-0 bg-gray-50 px-4 py-4 sm:px-6'>
      <div class='text-sm'>
        <a routerLink='/admin/customers-manage' class='font-medium text-green-600 hover:text-green-500'> View all<span
          class='sr-only'> Total Subscribers stats</span></a>
      </div>
    </div>
  </dd>
</div>
