<tr class='hover:divide-gray-400 hover:cursor-pointer'>
  <td class='px-6 py-4 w-10 whitespace-nowrap text-sm text-gray-500'>
    {{ index }}
  </td>
  <td class='px-6 py-4 whitespace-nowrap text-sm text-gray-900'>
    {{ user.firstName + ' ' + user.lastName }}
  </td>
  <td class='px-6 py-4 whitespace-nowrap text-sm text-gray-900'>
    {{ user.createdAt | date }}
  </td>
  <td class='px-6 py-4 whitespace-nowrap text-sm text-gray-900'>
    {{ user.email }}
  </td>
</tr>

