<div class='max-w-7xl mx-auto px-4 mt-10 mb-32 sm:px-6 lg:px-8'>
  <div class='-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8'>
    <div class='align-middle inline-block min-w-full'>
      <div class='shadow overflow-hidden border-b border-gray-200 sm:rounded-lg'>
        <table class='min-w-full divide-y divide-gray-200'>
          <thead class='bg-gray-50'>
          <tr>
            <th
              scope='col'
              class='px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'
            >
              No.
            </th>
            <th
              scope='col'
              class='px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'
            >
              Full name
            </th>
            <th
              scope='col'
              class='px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'
            >
              Joined in
            </th>
            <th
              scope='col'
              class='px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'
            >
              Email
            </th>
          </tr>
          </thead>
          <tbody class='bg-white divide-y divide-gray-200'>
          <shopify-user-table-row *ngFor='let customer of customers; let index = index; trackBy: trackByUserId'
                                  [user]='customer'
                                  [index]='index'>
          </shopify-user-table-row>
          </tbody>
        </table>
        <shopify-pagination
          [itemCount]='shopifyPaginationData.itemCount'
          [pageCount]='shopifyPaginationData.pageCount'
          [currentPage]='shopifyPaginationData.currentPage'
          (onChangePage)='changePage($event)'
        >
        </shopify-pagination>
      </div>
    </div>
  </div>
</div>

