<div class='relative bg-white pt-5 px-4 pb-12 sm:pt-6 sm:px-6 shadow rounded-lg overflow-hidden'>
  <dt>
    <div class='absolute bg-green-500 rounded-md p-3'>
      <svg class='h-6 w-6 text-white' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'
           stroke='currentColor' aria-hidden='true'>
        <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
              d='M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z' />
      </svg>
    </div>
    <p class='ml-16 text-sm font-medium text-gray-500 truncate'>Total Order</p>
  </dt>
  <dd class='ml-16 pb-6 flex items-baseline sm:pb-7'>
    <p class='text-2xl font-semibold text-gray-900'>
      0
    </p>
    <p class='ml-2 flex items-baseline text-sm font-semibold text-green-600'>
      <svg class='self-center flex-shrink-0 h-5 w-5 text-green-500' xmlns='http://www.w3.org/2000/svg'
           viewBox='0 0 20 20' fill='currentColor' aria-hidden='true'>
        <path fill-rule='evenodd'
              d='M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z'
              clip-rule='evenodd' />
      </svg>
      <span class='sr-only'>Increased by</span>0
    </p>
    <div class='absolute bottom-0 inset-x-0 bg-gray-50 px-4 py-4 sm:px-6'>
      <div class='text-sm'>
        <a routerLink='/admin/orders-manage' class='font-medium text-green-600 hover:text-green-500'> View all<span
          class='sr-only'> Total Subscribers stats</span></a>
      </div>
    </div>
  </dd>
</div>
