<div (mouseleave)="hideMenu()" class="flex items-center justify-start mt-7">
  <div class="relative inline-block text-left">
    <div>
      <button
        (click)="showMenu()"
        type="button"
        class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900"
        id="menu-button"
        aria-expanded="false"
        aria-haspopup="true"
      >
        Sort
        <svg
          class="flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>

    <div
      *ngIf='isOpen'
      class='origin-top-right absolute left-0 mt-2 w-40 rounded-md shadow-2xl bg-white ring-1 ring-black ring-opacity-5 focus:outline-none'
      role='menu'
      aria-orientation='vertical'
      aria-labelledby='menu-button'
      tabindex='-1'
    >
      <div class='py-1' role='none'>
        <button
          (click)="emitSort('defaultPrice', 'ASC')"
          class='flex flex-row justify-between w-full gap-x-0.5 px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white'
          role='menuitem'
          tabindex='-1'
        >
          <span class='font-bold'>Price:</span>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-6 w-6'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='2'
              d='M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12'
            />
          </svg>
        </button>

        <button
          (click)="emitSort('defaultPrice', 'DESC')"
          class='flex flex-row justify-between w-full gap-x-0.5 px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white'
          role='menuitem'
          tabindex='-1'
        >
          <span class='font-bold'>Price:</span>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-6 w-6'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='2'
              d='M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4'
            />
          </svg>
        </button>

        <button
          (click)="emitSort('quantity', 'ASC')"
          class='flex flex-row justify-between w-full px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white'
          role='menuitem'
          tabindex='-1'
        >
          <span class='font-bold'>Quantity:</span>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-6 w-6'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='2'
              d='M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12'
            />
          </svg>
        </button>

        <button
          (click)="emitSort('quantity', 'DESC')"
          class='flex flex-row justify-between w-full px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white'
          role='menuitem'
          tabindex='-1'
        >
          <span class='font-bold'>Quantity:</span>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-6 w-6'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='2'
              d='M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4'
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <button type="button" class="p-2 -m-2 ml-4 sm:ml-6 text-gray-400 hover:text-gray-500 lg:hidden">
    <span class="sr-only">Filters</span>
    <svg
      class="w-5 h-5"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z"
        clip-rule="evenodd"
      />
    </svg>
  </button>

  <div class='order-3 ml-auto w-full sm:order-2 sm:mt-0 sm:w-auto'>
    <a
      routerLink='/admin/products/create'
      class='flex items-center justify-center w-36 ml-auto px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-green-600 hover:bg-green-700 transition delay-200'
    >
      Add new
    </a>
  </div>
</div>
