<div class='relative pb-5 pt-5 border-b border-gray-200 sm:pb-0'>
  <div class='md:flex md:items-center md:justify-between'>
    <h3 class='text-lg leading-6 font-medium text-gray-900'>
      Categories Manage
    </h3>
    <div class='mt-3 flex md:mt-0 md:absolute md:top-3 md:right-0'>
      <button type='button'
              class='ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500'>
        Create
      </button>
    </div>
  </div>
  <div class='mt-4'>
    <div class='sm:hidden'>
      <label for='current-tab' class='sr-only'>Select a tab</label>
      <select id='current-tab' name='current-tab'
              class='block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm rounded-md'>
        <option>
          <a routerLink='/admin/categories/manage'
             routerLinkActive='border-green-500 text-green-600'
             class='border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm'>
            Tables
          </a>
        </option>

        <option>
          <a routerLink='/admin/categories/manage'
             routerLinkActive='border-green-500 text-green-600'
             class='border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm'>
            Stats
          </a>
        </option>
      </select>
    </div>
    <div class='hidden sm:block'>
      <nav class='-mb-px flex space-x-8'>
        <a routerLink='/admin/categories/manage'
           routerLinkActive='border-green-500 text-green-600'
           class='border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm'>
          Tables
        </a>
        <a routerLink='/admin/categories/stats'
           routerLinkActive='border-green-500 text-green-600'
           class='border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm'>
          Stats
        </a>
      </nav>
    </div>
  </div>
</div>

