<section class='container mx-auto px-5 md:py-5 py-10 text-gray-700 body-font relative'>
  <div class='absolute inset-0 bg-gray-300 rounded-lg'>
    <iframe
      width='100%'
      height='100%'
      title='map'
      src='https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ5eDf19AcFkcREsEGjfKQjos&key=AIzaSyAYY_jj2lziVww3-WxeUdNUzQc1Lctm6hs'
      style='filter: grayscale(1) contrast(1.2) opacity(0.4)'
    ></iframe>
  </div>
  <div class='container px-5 py-24 mx-auto flex'>
    <div
      class='lg:w-1/3 md:w-1/2 bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10'
    >
      <h2 class='text-gray-900 text-lg mb-1 font-medium title-font'>Feedback</h2>
      <p class='leading-relaxed mb-5 text-gray-600'>
        Post-ironic portland shabby chic echo park, banjo fashion axe
      </p>
      <input
        class='bg-white rounded border border-gray-400 focus:outline-none focus:border-green-500 text-base px-4 py-2 mb-4'
        placeholder='Email'
        type='email'
      />
      <textarea
        class='bg-white rounded border border-gray-400 focus:outline-none h-32 focus:border-green-500 text-base px-4 py-2 mb-4 resize-none'
        placeholder='Message'
      ></textarea>
      <button
        class="text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg"
      >
        Button
      </button>
      <p class="text-xs text-gray-500 mt-3">
        Chicharrones blog helvetica normcore iceland tousled brook viral artisan.
      </p>
    </div>
  </div>
</section>
