<div class='h-screen flex overflow-hidden bg-gray-100'>
  <div *ngIf='sidebarIsOpen' class='fixed inset-0 flex z-40 md:hidden' role='dialog' aria-modal='true'>
    <div class='fixed inset-0 bg-gray-600 bg-opacity-75' aria-hidden='true'></div>
    <div class='relative flex-1 flex flex-col max-w-xs w-full bg-white'>
      <div class='absolute top-0 right-0 -mr-12 pt-2'>
        <button (click)='closeSidebar()' type='button'
                class='ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white'>
          <span class='sr-only'>Close sidebar</span>
          <svg class='h-6 w-6 text-white' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'
               stroke='currentColor' aria-hidden='true'>
            <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12' />
          </svg>
        </button>
      </div>

      <div class='flex-1 h-0 pt-5 pb-4 overflow-y-auto'>
        <div class='flex-shrink-0 flex items-center px-4'>
          <img class='h-8 w-auto' src='https://tailwindui.com/img/logos/workflow-logo-green-600-mark-gray-800-text.svg'
               alt='Workflow'>
        </div>
        <nav class='flex-1 bg-white space-y-1' aria-label='Sidebar'>
          <a routerLink='/admin/dashboard'
             routerLinkActive='bg-green-50 border-green-600 text-green-600'
             [routerLinkActiveOptions]='{exact: true}'
             class='border-transparent text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-3 py-2 text-sm font-medium border-l-4'>
            <svg routerLinkActive='text-green-500'
                 class='text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6'
                 xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'
                 aria-hidden='true'>
              <path stroke-linecap='round'
                    stroke-linejoin='round'
                    stroke-width='2'
                    d='M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6'
              />
            </svg>
            Dashboard
          </a>

          <a routerLink='/admin/products/manage'
             routerLinkActive='bg-green-50 border-green-600 text-green-600'
             [routerLinkActiveOptions]='{exact: true}'
             class='border-transparent text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-3 py-2 text-sm font-medium border-l-4'>
            <svg routerLinkActive='text-green-500'
                 class='text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6'
                 xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'
                 aria-hidden='true'>
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10'
              />
            </svg>
            Products
          </a>

          <a routerLink='/admin/orders-manage'
             routerLinkActive='bg-green-50 border-green-600 text-green-600'
             [routerLinkActiveOptions]='{exact: true}'
             class='border-transparent text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-3 py-2 text-sm font-medium border-l-4'>
            <svg routerLinkActive='text-green-500'
                 class='text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6'
                 xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'
                 aria-hidden='true'>
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z'
              />
            </svg>
            Orders
          </a>

          <a routerLink='/admin/customers-manage'
             routerLinkActive='bg-green-50 border-green-600 text-green-600'
             [routerLinkActiveOptions]='{exact: true}'
             class='border-transparent text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-3 py-2 text-sm font-medium border-l-4'>
            <svg routerLinkActive='text-green-500'
                 class='text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6'
                 xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'
                 aria-hidden='true'>
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z'
              />
            </svg>
            Users
          </a>

          <a routerLink='/admin/categories'
             [routerLinkActiveOptions]='{exact: true}'
             routerLinkActive='bg-green-50 border-green-600 text-green-600'
             class='border-transparent text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-3 py-2 text-sm font-medium border-l-4'>
            <svg routerLinkActive='text-green-500'
                 class='text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6'
                 xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'
                 aria-hidden='true'>
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z'
              />
            </svg>
            Categories
          </a>

          <a routerLink='/admin/settings/general'
             routerLinkActive='bg-green-50 border-green-600 text-green-600'
             [routerLinkActiveOptions]='{exact: true}'
             class='border-transparent text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-3 py-2 text-sm font-medium border-l-4'>
            <svg class='text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6'
                 xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'
                 aria-hidden='true'>
              <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                    d='M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z' />
              <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                    d='M15 12a3 3 0 11-6 0 3 3 0 016 0z' />
            </svg>
            Settings
          </a>
        </nav>
      </div>
      <div class='flex-shrink-0 flex border-t border-gray-200 p-4'>
        <a href='#' class='flex-shrink-0 group block'>
          <div class='flex items-center'>
            <div>
              <img class='inline-block h-10 w-10 rounded-full'
                   src='https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80'
                   alt=''>
            </div>
            <div class='ml-3'>
              <p class='text-base font-medium text-gray-700 group-hover:text-gray-900'>
                Tom Cook
              </p>
              <p class='text-sm font-medium text-gray-500 group-hover:text-gray-700'>
                View profile
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class='flex-shrink-0 w-14'>
    </div>
  </div>

  <!-- Sidebar for desktop -->
  <div class='hidden md:flex md:flex-shrink-0'>
    <div class='flex flex-col w-64'>
      <div class='flex-1 flex flex-col min-h-0 border-r border-gray-200 bg-white'>
        <div class='flex-1 flex flex-col pt-5 pb-4 overflow-y-auto'>
          <div class='flex items-center flex-shrink-0 px-4'>
            <a routerLink='/' class='text-3xl text-green-900'>
              Shopify
            </a>
          </div>
          <nav class='flex-1 bg-white space-y-1' aria-label='Sidebar'>
            <a routerLink='/admin/dashboard'
               routerLinkActive='bg-green-50 border-green-600 text-green-600'
               [routerLinkActiveOptions]='{exact: true}'
               class='border-transparent text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-3 py-2 text-sm font-medium border-l-4'>
              <svg routerLinkActive='text-green-500'
                   class='text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6'
                   xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'
                   aria-hidden='true'>
                <path stroke-linecap='round'
                      stroke-linejoin='round'
                      stroke-width='2'
                      d='M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6'
                />
              </svg>
              Dashboard
            </a>

            <a routerLink='/admin/products/manage'
               routerLinkActive='bg-green-50 border-green-600 text-green-600'
               [routerLinkActiveOptions]='{exact: true}'
               class='border-transparent text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-3 py-2 text-sm font-medium border-l-4'>
              <svg routerLinkActive='text-green-500'
                   class='text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6'
                   xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'
                   aria-hidden='true'>
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10'
                />
              </svg>
              Products
            </a>

            <a routerLink='/admin/orders-manage'
               routerLinkActive='bg-green-50 border-green-600 text-green-600'
               class='border-transparent text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-3 py-2 text-sm font-medium border-l-4'>
              <svg routerLinkActive='text-green-500'
                   class='text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6'
                   xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'
                   aria-hidden='true'>
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z'
                />
              </svg>
              Orders
            </a>

            <a routerLink='/admin/customers-manage'
               routerLinkActive='bg-green-50 border-green-600 text-green-600'
               [routerLinkActiveOptions]='{exact: true}'
               class='border-transparent text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-3 py-2 text-sm font-medium border-l-4'>
              <svg routerLinkActive='text-green-500'
                   class='text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6'
                   xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'
                   aria-hidden='true'>
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z'
                />
              </svg>
              Users
            </a>

            <a routerLink='/admin/categories'
               [routerLinkActiveOptions]='{exact: true}'
               routerLinkActive='bg-green-50 border-green-600 text-green-600'
               class='border-transparent text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-3 py-2 text-sm font-medium border-l-4'>
              <svg routerLinkActive='text-green-500'
                   class='text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6'
                   xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'
                   aria-hidden='true'>
                <path
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z'
                />
              </svg>
              Categories
            </a>

            <a routerLink='/admin/settings/general'
               routerLinkActive='bg-green-50 border-green-600 text-green-600'
               [routerLinkActiveOptions]='{exact: true}'
               class='border-transparent text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-3 py-2 text-sm font-medium border-l-4'>
              <svg class='text-gray-400 group-hover:text-gray-500 mr-3 flex-shrink-0 h-6 w-6'
                   xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'
                   aria-hidden='true'>
                <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                      d='M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z' />
                <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                      d='M15 12a3 3 0 11-6 0 3 3 0 016 0z' />
              </svg>
              Settings
            </a>
          </nav>
        </div>
        <div class='flex-shrink-0 flex border-t border-gray-200 p-4'>
          <a href='#' class='flex-shrink-0 w-full group block'>
            <div class='flex items-center'>
              <div>
                <span class='inline-block h-8 w-8 rounded-full overflow-hidden bg-gray-100'>
                  <svg class='h-full w-full text-gray-300' fill='currentColor' viewBox='0 0 24 24'>
                    <path
                      d='M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z' />
                  </svg>
                </span>
              </div>
              <div class='ml-3'>
                <p class='text-sm font-medium text-gray-700 group-hover:text-gray-900'>
                  test123@eu.com
                </p>
                <p class='text-xs font-medium text-gray-500 group-hover:text-gray-700'>
                  View profile
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class='flex flex-col w-0 flex-1 overflow-hidden'>
    <div class='md:hidden pl-1 pt-1 sm:pl-3 sm:pt-3'>
      <button (click)='openSidebar()' type='button'
              class='-ml-0.5 -mt-0.5 h-12 w-12 inline-flex items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-green-500'>
        <span class='sr-only'>Open sidebar</span>
        <svg class='h-6 w-6' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'
             aria-hidden='true'>
          <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16M4 18h16' />
        </svg>
      </button>
    </div>
    <main class='flex-1 relative z-0 overflow-y-auto focus:outline-none'>
      <div class='py-6'>
        <div class='max-w-7xl mx-auto px-4 sm:px-6 md:px-8'>
          <ng-content></ng-content>
        </div>
      </div>
    </main>
  </div>
</div>
