<footer class='footer bg-white relative pt-1 mt-4 border-t-2 border-gray-200'>
  <div class='container mx-auto px-6'>
    <div class='sm:flex sm:mt-8'>
      <div class='mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-between'>
        <div class='flex flex-col'>
          <span class='font-bold text-gray-800 uppercase mb-2'>Products</span>
          <span class='my-2'
          ><a
            routerLink='/products/solar-panels'
            class='text-gray-700 text-md hover:text-gray-800'
          >Solar PANELS</a
          ></span
          >
          <span class='my-2'
          ><a
            routerLink='/products/solar-inverters'
            class='text-gray-700 text-md hover:text-gray-800'
          >Solar INVERTERS</a
          ></span
          >
          <span class='my-2'
          ><a
            routerLink='/products/solar-batteries'
            class='text-gray-700 text-md hover:text-gray-800'
          >Solar BATTERIES</a
          ></span
          >
        </div>
        <div class='flex flex-col'>
          <span class='font-bold text-gray-800 uppercase mt-4 md:mt-0 mb-2'>Company</span>
          <span class='my-2'
          ><a href='#' class='text-gray-700 text-md hover:text-gray-800'>Who we are?</a></span
          >
          <span class='my-2'
          ><a href='#' class='text-gray-700 text-md hover:text-gray-800'>Carriers</a></span
          >
          <span class='my-2'
          ><a href='#' class='text-gray-700 text-md hover:text-gray-800'
          >Terms and conditions</a
          ></span
          >
          <span class='my-2'
          ><a href='#' class='text-gray-700 text-md hover:text-gray-800'>Privacy</a></span
          >
        </div>
        <div class='flex flex-col'>
          <span class='font-bold text-gray-800 uppercase mt-4 md:mt-0 mb-2'>Customer service</span>
          <span class='my-2'
          ><a href='#' class='text-gray-700 text-md hover:text-gray-800'>Contact</a></span
          >
          <span class='my-2'
          ><a href='#' class='text-gray-700 text-md hover:text-gray-800'>Shipping</a></span
          >
          <span class='my-2'
          ><a href='#' class='text-gray-700 text-md hover:text-gray-800'>Returns</a></span
          >
          <span class='my-2'
          ><a routerLink='/faq' class='text-gray-700 text-md hover:text-gray-800'>FAQ</a></span
          >
        </div>
      </div>
    </div>
  </div>
  <div class='container mx-auto px-6'>
    <div class='mt-16 border-t-2 border-gray-200 flex flex-col items-center'>
      <div class='sm:w-2/3 text-center py-6'>
        <p class='text-sm text-gray-700 font-bold mb-2'>© 2022 by Paweł Reliński</p>
      </div>
    </div>
  </div>
</footer>
