<div
  (mouseleave)="toggleFlyoutMenu()"
  class="absolute z-10 left-1/2 transform -translate-x-1/2 mt-3 px-2 w-screen max-w-md sm:px-0"
>
  <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden">
    <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
      <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
        <!-- Heroicon name: outline/support -->
        <svg
          class="flex-shrink-0 h-6 w-6 text-green-600"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z"
          />
        </svg>
        <div class="ml-4">
          <p class="text-base font-medium text-gray-900">Help Center</p>
          <p class="mt-1 text-sm text-gray-500">
            Get all of your questions answered in our forums or contact support.
          </p>
        </div>
      </a>

      <a href="#" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50">
        <!-- Heroicon name: outline/bookmark-alt -->
        <svg
          class="flex-shrink-0 h-6 w-6 text-green-600"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M16 4v12l-4-2-4 2V4M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"
          />
        </svg>
        <div class="ml-4">
          <p class="text-base font-medium text-gray-900">Guides</p>
          <p class="mt-1 text-sm text-gray-500">
            Learn how to maximize our platform to get the most out of it.
          </p>
        </div>
      </a>
    </div>
    <div class="px-5 py-5 bg-gray-50 sm:px-8 sm:py-8">
      <div>
        <h3 class="text-sm tracking-wide font-medium text-gray-500 uppercase">Recent Posts</h3>
        <ul role="list" class="mt-4 space-y-4">
          <li class="text-base truncate">
            <a href="#" class="font-medium text-gray-900 hover:text-gray-700">
              Boost your conversion rate
            </a>
          </li>

          <li class="text-base truncate">
            <a href="#" class="font-medium text-gray-900 hover:text-gray-700">
              How to use search engine optimization to drive traffic to your site
            </a>
          </li>

          <li class="text-base truncate">
            <a href="#" class="font-medium text-gray-900 hover:text-gray-700">
              Improve your customer experience
            </a>
          </li>
        </ul>
      </div>
      <div class="mt-5 text-sm">
        <a routerLink="/articles" class="font-medium text-green-600 hover:text-green-500">
          View all posts <span aria-hidden="true">&rarr;</span></a
        >
      </div>
    </div>
  </div>
</div>
