<div class='flex flex-row back-icon-wrapper w-40 mt-5 mr-auto text-gray-600 hover:pointer'>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    class='h-6 w-6'
    fill='none'
    viewBox='0 0 24 24'
    stroke='currentColor'
  >
    <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 19l-7-7 7-7' />
  </svg>
  Go back
</div>
