<div formArrayName='specificationForm' class='border-t border-gray-200'>
  <dl>
    <div class='bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6'>
      <dt class='text-sm font-medium text-gray-500'>
        Properties <span class='text-red-700'>*</span>
      </dt>
      <dd
        class='flex flex-column mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 properties-wrapper'
      >
        <div
          *ngFor='let specification of specificationForm.controls; let index = index'
          [formGroupName]='index'
          class='flex flex-row justify-between sm:col-span-2 w-full'
        >
          <div class='properties-input-width'>
            <input
              formControlName='key'
              placeholder='Property name'
              type='text'
              class='bg-transparent rounded border-gray-300 border-2 w-full property-value-input'
              required
              #specificationInputKey
            />
            <p
              *ngIf="specificationInputKey.value === ''"
              class='ml-1 text-xs mt-1 text-red-700'
            >
              Please enter property name!
            </p>
          </div>
          <div class='properties-input-width'>
            <input
              formControlName='value'
              placeholder='Property value'
              type='text'
              class='bg-transparent rounded border-gray-300 border-2 w-full property-value-input'
              required
              #specificationInputValue
            />
            <p
              *ngIf="specificationInputValue.value === ''"
              class='ml-1 text-xs mt-1 text-red-700'
            >
              Please enter property value!
            </p>
          </div>
          <div (click)='removeSpecification(index)' class='remove-spec-btn flex items-center'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='h-8 w-8'
              fill='none'
              viewBox='0 0 24 24'
              stroke='rgb(239 68 68)'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='M6 18L18 6M6 6l12 12'
              />
            </svg>
          </div>
        </div>
        <button
          (click)='addSpecification()'
          type='button'
          class='inline-flex items-center justify-center space-x-2 py-3 px-4 border border-transparent text-sm font-medium rounded text-green-600 hover:text-green-700 bg-green-50 hover:bg-green-100 transition-colors'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='h-5 w-5'
            viewBox='0 0 20 20'
            fill='currentColor'
          >
            <path
              fill-rule='evenodd'
              d='M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z'
              clip-rule='evenodd'
            />
          </svg>
          <div>Add property</div>
        </button>
      </dd>
    </div>
  </dl>
</div>
