<div
  class='fixed inset-0 overflow-hidden z-i-99'
  aria-labelledby='slide-over-title'
  role='dialog'
  aria-modal='true'
>
  <div class='absolute inset-0 overflow-hidden'>
    <div
      class='absolute inset-0 bg-gray-500 bg-opacity-75 transition-opacity'
      aria-hidden='true'
    ></div>

    <div class='fixed inset-y-0 right-0 pl-10 max-w-full flex'>
      <div class='w-screen max-w-md'>
        <div class='h-full flex flex-col bg-white shadow-xl overflow-y-scroll'>
          <div class='flex-1 py-6 overflow-y-auto px-4 sm:px-6'>
            <div class='flex items-start justify-between'>
              <h2 class='text-lg font-medium text-gray-900' id='slide-over-title'>Shopping cart</h2>
              <div class='ml-3 h-7 flex items-center'>
                <button
                  (click)='close()'
                  type='button'
                  class='-m-2 p-2 text-gray-400 hover:text-gray-500'
                >
                  <span class='sr-only'>Close panel</span>
                  <svg
                    class='h-6 w-6'
                    xmlns='http://www.w3.org/2000/svg'
                    fill='none'
                    viewBox='0 0 24 24'
                    stroke='currentColor'
                    aria-hidden='true'
                  >
                    <path
                      stroke-linecap='round'
                      stroke-linejoin='round'
                      stroke-width='2'
                      d='M6 18L18 6M6 6l12 12'
                    />
                  </svg>
                </button>
              </div>
            </div>

            <shopify-shopping-cart-item-list (onUpdateSubtotalPrice)='updateSubtotalPage($event)'>
            </shopify-shopping-cart-item-list>
          </div>

          <div class='border-t border-gray-200 py-6 px-4 sm:px-6'>
            <div class='flex justify-between text-base font-medium text-gray-900'>
              <p>Subtotal</p>
              <p>{{ subtotalPrice | currency }}</p>
            </div>
            <p class='mt-0.5 text-sm text-gray-500'>Shipping and taxes calculated at checkout.</p>
            <div class='mt-6'>
              <a
                routerLink='/checkout'
                class='flex justify-center items-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-green-600 hover:bg-green-700'
              >
                Checkout
              </a
              >
            </div>
            <div class='mt-6 flex justify-center text-sm text-center text-gray-500'>
              <p>
                or
                <button (click)='close()' type='button' class='text-green-600 font-medium hover:text-green-500'>
                  Continue Shopping<span aria-hidden='true'> &rarr;</span>
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
