<div>
  <h3 class='text-lg leading-6 font-medium text-gray-900'>
    Last 7 days
  </h3>

  <dl class='mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3'>
    <div class='relative bg-white pt-5 px-4 pb-5 sm:pt-6 sm:px-6 shadow rounded-lg overflow-hidden'>
      <dt>
        <div class='absolute bg-green-500 rounded-md p-3'>
          <svg class='h-6 w-6 text-white' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'
               stroke='currentColor' aria-hidden='true'>
            <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                  d='M15 12a3 3 0 11-6 0 3 3 0 016 0z' />
            <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                  d='M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z' />
          </svg>
        </div>
        <p class='ml-16 text-sm font-medium text-gray-500 truncate'>Total Views</p>
      </dt>
      <dd class='ml-16 flex items-baseline'>
        <p class='text-2xl font-semibold text-gray-900'>
          {{ productViews }}
        </p>
        <p class='ml-2 flex items-baseline text-sm font-semibold text-green-600'>
          <svg class='self-center flex-shrink-0 h-5 w-5 text-green-500' xmlns='http://www.w3.org/2000/svg'
               viewBox='0 0 20 20' fill='currentColor' aria-hidden='true'>
            <path fill-rule='evenodd'
                  d='M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z'
                  clip-rule='evenodd' />
          </svg>
          <span class='sr-only'>
            Increased by
          </span>
          55
        </p>
      </dd>
    </div>

    <div class='relative bg-white pt-5 px-4 pb-5 sm:pt-6 sm:px-6 shadow rounded-lg overflow-hidden'>
      <dt>
        <div class='absolute bg-green-500 rounded-md p-3'>
          <svg class='h-6 w-6 text-white' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'
               stroke='currentColor' aria-hidden='true'>
            <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                  d='M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4' />
          </svg>
        </div>
        <p class='ml-16 text-sm font-medium text-gray-500 truncate'>Quantity</p>
      </dt>
      <dd class='ml-16 flex items-baseline'>
        <p class='text-2xl font-semibold text-gray-900'>
          {{ productQuantity }}
        </p>
        <p class='ml-2 flex items-baseline text-sm font-semibold text-green-600'>
          <svg class='self-center flex-shrink-0 h-5 w-5 text-green-500' xmlns='http://www.w3.org/2000/svg'
               viewBox='0 0 20 20' fill='currentColor' aria-hidden='true'>
            <path fill-rule='evenodd'
                  d='M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z'
                  clip-rule='evenodd' />
          </svg>
          <span class='sr-only'>
            Increased by
          </span>
          12
        </p>
      </dd>
    </div>
  </dl>
</div>
