<li class="py-6 flex">
  <div class="flex-shrink-0 w-24 h-24 border border-gray-200 rounded-md overflow-hidden">
    <img
      [src]='item.image'
      alt='Product image'
      class='w-full h-full object-center object-cover h-inherit'
    />
  </div>

  <div class="ml-4 flex-1 flex flex-col">
    <div>
      <div class="flex justify-between text-base font-medium text-gray-900">
        <h3>
          <a [routerLink]="['/products', item.category.formatName, item.id]">
            {{ item.name | truncate: 20 }}
          </a>
        </h3>
        <p class='ml-4'>{{ item.price | currency }}</p>
      </div>
      <p class="mt-1 text-sm text-gray-500">{{ item.refNumber }} id: {{ item.id }}</p>
    </div>
    <div class="flex-1 flex items-end justify-between text-sm">
      <p class='text-gray-500'>Quantity: {{ item.quantity }}</p>

      <div class="flex">
        <button
          (click)="emitDelete(item.id)"
          type="button"
          class="font-medium text-green-600 hover:text-green-500"
        >
          Remove
        </button>
      </div>
    </div>
  </div>
</li>
