<section class="text-gray-700 body-font">
  <div class='container mx-auto flex px-5 md:py-5 py-10 md:flex-row flex-col-reverse items-center'>
    <div
      class='lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center'
    >
      <h1 class='title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900'>
        {{ name }}
      </h1>
      <h2 class='mb-2 text-lg font-semibold font-extrabold tracking-wide text-gray-700 uppercase'>
        <span class='text-green-600'>{{ price | currency }}</span>
      </h2>
      <div class='mb-8 leading-relaxed' [innerHTML]='shortDescription'>
      </div>
      <div class='flex justify-center'>
        <button
          (click)='emitItemId()'
          class='inline-flex text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg'
        >
          Buy now
        </button>
        <shopify-counter (onCounter)='updateEmitItemQuantity($event)'>
        </shopify-counter>
      </div>
    </div>
    <div class='lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-8'>
      <img
        class='object-cover object-center rounded'
        alt='hero'
        [src]='image'
      />
    </div>
  </div>
</section>
