<div role='alert'
     class='sm:mr-6 mt-4 sm:mt-6 mb-6 sm:mb-0 xl:w-5/12 mx-auto absolute left-0 sm:left-auto right-0 sm:top-0 sm:w-1/2 w-10/12 bg-white dark:bg-gray-800 shadow-lg rounded flex pr-4 py-4 transition duration-150 ease-in-out'
     #notification>
  <div
    class='absolute right-0 mr-4 text-gray-500 dark:text-gray-100 dark:hover:text-gray-400 hover:text-gray-600 transition duration-150 ease-in-out cursor-pointer'
    (click)='closeModal()'>
    <svg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-x' width='20' height='20'
         viewBox='0 0 24 24' stroke-width='2.5' stroke='currentColor' fill='none' stroke-linecap='round'
         stroke-linejoin='round'>
      <path stroke='none' d='M0 0h24v24H0z' />
      <line x1='18' y1='6' x2='6' y2='18' />
      <line x1='6' y1='6' x2='18' y2='18' />
    </svg>
  </div>
  <div class='ml-5 flex flex-row'>
    <div class='mr-3 flex items-center justify-center'>
      <svg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='rgb(22 163 74)'>
        <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
              d='M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z' />
      </svg>
    </div>
    <div>
      <p class='text-sm text-gray-800 dark:text-gray-100 font-semibold'>{{ data.title }}</p>
      <p class='text-xs text-gray-600 dark:text-gray-400 font-normal'>{{ data.message }}</p>
    </div>
  </div>
</div>
