<div class='absolute top-0 inset-x-0 p-2 z-50 transition transform origin-top-right md:hidden'>
  <div
    class='rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50'
  >
    <div class='pt-5 pb-6 px-5'>
      <div class='flex items-center justify-between'>
        <div>
          <svg
            class='w-8 text-green-600'
            viewBox='0 0 24 24'
            stroke-linejoin='round'
            stroke-width='2'
            stroke-linecap='round'
            stroke-miterlimit='10'
            stroke='currentColor'
            fill='none'
          >
            <rect x='3' y='1' width='7' height='12'></rect>
            <rect x='3' y='17' width='7' height='6'></rect>
            <rect x='14' y='1' width='7' height='6'></rect>
            <rect x='14' y='11' width='7' height='12'></rect>
          </svg>
        </div>
        <div class='-mr-2'>
          <button
            (click)='close()'
            type='button'
            class='bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-green-500'
          >
            <span class='sr-only'>Close menu</span>
            <svg
              class='h-6 w-6'
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
              aria-hidden='true'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='M6 18L18 6M6 6l12 12'
              />
            </svg>
          </button>
        </div>
      </div>
      <div class='mt-6'>
        <nav class='grid gap-y-8'>
          <a *ngIf='!isLoggedIn' href='#' class='-m-3 p-3 flex items-center rounded-md hover:bg-gray-50'>
            <svg
              class='flex-shrink-0 h-6 w-6 text-green-600'
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
              aria-hidden='true'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z'
              />
            </svg>
            <span class='ml-3 text-base font-medium text-gray-900'> Analytics </span>
          </a>

          <a *ngIf='!isLoggedIn' href='#' class='-m-3 p-3 flex items-center rounded-md hover:bg-gray-50'>
            <svg
              class='flex-shrink-0 h-6 w-6 text-green-600'
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
              aria-hidden='true'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122'
              />
            </svg>
            <span class='ml-3 text-base font-medium text-gray-900'> Engagement </span>
          </a>

          <a *ngIf='!isLoggedIn' href='#' class='-m-3 p-3 flex items-center rounded-md hover:bg-gray-50'>
            <svg
              class='flex-shrink-0 h-6 w-6 text-green-600'
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
              aria-hidden='true'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z'
              />
            </svg>
            <span class='ml-3 text-base font-medium text-gray-900'> Security </span>
          </a>

          <a *ngIf='!isLoggedIn' href='#' class='-m-3 p-3 flex items-center rounded-md hover:bg-gray-50'>
            <svg
              class='flex-shrink-0 h-6 w-6 text-green-600'
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
              aria-hidden='true'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z'
              />
            </svg>
            <span class='ml-3 text-base font-medium text-gray-900'> Integrations </span>
          </a>

          <a *ngIf='!isLoggedIn' href='#' class='-m-3 p-3 flex items-center rounded-md hover:bg-gray-50'>
            <svg
              class='flex-shrink-0 h-6 w-6 text-green-600'
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
              aria-hidden='true'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15'
              />
            </svg>
            <span class='ml-3 text-base font-medium text-gray-900'> Automations </span>
          </a>

          <a *ngIf='isLoggedIn' routerLink='/profile' class='-m-3 p-3 flex items-center rounded-md hover:bg-gray-50'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='h-6 w-6 text-green-600'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
            >
              <path
                d='M7 8C7 5.23858 9.23858 3 12 3C14.7614 3 17 5.23858 17 8C17 10.7614 14.7614 13 12 13C9.23858 13 7 10.7614 7 8ZM12 11C13.6569 11 15 9.65685 15 8C15 6.34315 13.6569 5 12 5C10.3431 5 9 6.34315 9 8C9 9.65685 10.3431 11 12 11Z'
                fill='currentColor'
                stroke-width='0.5'
              >
              </path>
              <path
                d='M6.34315 16.3431C4.84285 17.8434 4 19.8783 4 22H6C6 20.4087 6.63214 18.8826 7.75736 17.7574C8.88258 16.6321 10.4087 16 12 16C13.5913 16 15.1174 16.6321 16.2426 17.7574C17.3679 18.8826 18 20.4087 18 22H20C20 19.8783 19.1571 17.8434 17.6569 16.3431C16.1566 14.8429 14.1217 14 12 14C9.87827 14 7.84344 14.8429 6.34315 16.3431Z'
                fill='currentColor'
                stroke-width='0.5'
              >
              </path>
            </svg>
            <span class='ml-3 text-base font-medium text-gray-900'> View Profile </span>
          </a>

          <a *ngIf='isLoggedIn' routerLink='/admin' class='-m-3 p-3 flex items-center rounded-md hover:bg-gray-50'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='h-6 w-6 text-green-600'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
            >
              <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
                    d='M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z' />
            </svg>
            <span class='ml-3 text-base font-medium text-gray-900'> Admin Dashboard </span>
          </a>

          <a *ngIf='isLoggedIn' routerLink='/profile/settings'
             class='-m-3 p-3 flex items-center rounded-md hover:bg-gray-50'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='h-6 w-6 text-green-600'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='0.5'
              stroke='currentColor'
            >
              <path
                d='M13.8199 22H10.1799C9.71003 22 9.30347 21.673 9.20292 21.214L8.79592 19.33C8.25297 19.0921 7.73814 18.7946 7.26092 18.443L5.42392 19.028C4.97592 19.1709 4.48891 18.9823 4.25392 18.575L2.42992 15.424C2.19751 15.0165 2.27758 14.5025 2.62292 14.185L4.04792 12.885C3.98312 12.2961 3.98312 11.7019 4.04792 11.113L2.62292 9.816C2.27707 9.49837 2.19697 8.98372 2.42992 8.576L4.24992 5.423C4.48491 5.0157 4.97192 4.82714 5.41992 4.97L7.25692 5.555C7.50098 5.37416 7.75505 5.20722 8.01792 5.055C8.27026 4.91269 8.52995 4.78385 8.79592 4.669L9.20392 2.787C9.30399 2.32797 9.71011 2.00049 10.1799 2H13.8199C14.2897 2.00049 14.6958 2.32797 14.7959 2.787L15.2079 4.67C15.4887 4.79352 15.7622 4.93308 16.0269 5.088C16.2739 5.23081 16.5126 5.38739 16.7419 5.557L18.5799 4.972C19.0276 4.82967 19.514 5.01816 19.7489 5.425L21.5689 8.578C21.8013 8.98548 21.7213 9.49951 21.3759 9.817L19.9509 11.117C20.0157 11.7059 20.0157 12.3001 19.9509 12.889L21.3759 14.189C21.7213 14.5065 21.8013 15.0205 21.5689 15.428L19.7489 18.581C19.514 18.9878 19.0276 19.1763 18.5799 19.034L16.7419 18.449C16.5093 18.6203 16.2677 18.7789 16.0179 18.924C15.7557 19.0759 15.4853 19.2131 15.2079 19.335L14.7959 21.214C14.6954 21.6726 14.2894 21.9996 13.8199 22ZM7.61992 16.229L8.43992 16.829C8.62477 16.9652 8.81743 17.0904 9.01692 17.204C9.20462 17.3127 9.39788 17.4115 9.59592 17.5L10.5289 17.909L10.9859 20H13.0159L13.4729 17.908L14.4059 17.499C14.8132 17.3194 15.1998 17.0961 15.5589 16.833L16.3799 16.233L18.4209 16.883L19.4359 15.125L17.8529 13.682L17.9649 12.67C18.0141 12.2274 18.0141 11.7806 17.9649 11.338L17.8529 10.326L19.4369 8.88L18.4209 7.121L16.3799 7.771L15.5589 7.171C15.1997 6.90671 14.8132 6.68175 14.4059 6.5L13.4729 6.091L13.0159 4H10.9859L10.5269 6.092L9.59592 6.5C9.39772 6.58704 9.20444 6.68486 9.01692 6.793C8.81866 6.90633 8.62701 7.03086 8.44292 7.166L7.62192 7.766L5.58192 7.116L4.56492 8.88L6.14792 10.321L6.03592 11.334C5.98672 11.7766 5.98672 12.2234 6.03592 12.666L6.14792 13.678L4.56492 15.121L5.57992 16.879L7.61992 16.229ZM11.9959 16C9.78678 16 7.99592 14.2091 7.99592 12C7.99592 9.79086 9.78678 8 11.9959 8C14.2051 8 15.9959 9.79086 15.9959 12C15.9932 14.208 14.2039 15.9972 11.9959 16ZM11.9959 10C10.9033 10.0011 10.0138 10.8788 9.99815 11.9713C9.98249 13.0638 10.8465 13.9667 11.9386 13.9991C13.0307 14.0315 13.9468 13.1815 13.9959 12.09V12.49V12C13.9959 10.8954 13.1005 10 11.9959 10Z'
                fill='currentColor'
              >

              </path>
            </svg>
            <span class='ml-3 text-base font-medium text-gray-900'> Settings </span>
          </a>

          <hr class='border-gray-200 dark:border-gray-700 '>

          <a *ngIf='isLoggedIn' routerLink='/profile/orders'
             class='-m-3 p-3 flex items-center rounded-md hover:bg-gray-50'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='h-6 w-6 text-green-600'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                stroke='currentColor'
                d='M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4'
              />
            </svg>
            <span class='ml-3 text-base font-medium text-gray-900'> Orders </span>
          </a>

          <a *ngIf='isLoggedIn' routerLink='/profile/favourites'
             class='-m-3 p-3 flex items-center rounded-md hover:bg-gray-50'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='h-6 w-6 text-green-600'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                stroke='currentColor'
                d='M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z'
              />
            </svg>
            <span class='ml-3 text-base font-medium text-gray-900'> Favourites </span>
          </a>

          <a routerLink='/products' class='-m-3 p-3 flex items-center rounded-md hover:bg-gray-50'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='h-6 w-6 text-green-600'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10'
              />
            </svg>
            <span class='ml-3 text-base font-medium text-gray-900'> Products </span>
          </a>

          <hr class='border-gray-200 dark:border-gray-700 '>

          <a *ngIf='isLoggedIn' href='#' class='-m-3 p-3 flex items-center rounded-md hover:bg-gray-50'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='h-6 w-6 text-green-600'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
            >
              <path
                d='M19 21H10C8.89543 21 8 20.1046 8 19V15H10V19H19V5H10V9H8V5C8 3.89543 8.89543 3 10 3H19C20.1046 3 21 3.89543 21 5V19C21 20.1046 20.1046 21 19 21ZM12 16V13H3V11H12V8L17 12L12 16Z'
                fill='currentColor'
                stroke-width='0.5'
              >
              </path>
            </svg>
            <span class='ml-3 text-base font-medium text-gray-900'> Sign Out </span>
          </a>

        </nav>
      </div>
    </div>
    <div class='py-6 px-5 space-y-6'>
      <div class='grid grid-cols-2 gap-y-4 gap-x-8'>
        <a href='#' class='text-base font-medium text-gray-900 hover:text-gray-700'> Pricing </a>

        <a href='#' class='text-base font-medium text-gray-900 hover:text-gray-700'> Docs </a>

        <a href='#' class='text-base font-medium text-gray-900 hover:text-gray-700'>
          Help Center
        </a>

        <a href='#' class='text-base font-medium text-gray-900 hover:text-gray-700'> Guides </a>

        <a href='#' class='text-base font-medium text-gray-900 hover:text-gray-700'> Events </a>

        <a href='#' class='text-base font-medium text-gray-900 hover:text-gray-700'> Security </a>

        <a *ngIf='isLoggedIn' href='#' class='text-base font-medium text-gray-900 hover:text-gray-700'> Analytics </a>

        <a *ngIf='isLoggedIn' href='#' class='text-base font-medium text-gray-900 hover:text-gray-700'> Engagment </a>

        <a *ngIf='isLoggedIn' href='#' class='text-base font-medium text-gray-900 hover:text-gray-700'> Security </a>

        <a *ngIf='isLoggedIn' href='#' class='text-base font-medium text-gray-900 hover:text-gray-700'>
          Integrations </a>

        <a *ngIf='isLoggedIn' href='#' class='text-base font-medium text-gray-900 hover:text-gray-700'> Automations </a>
      </div>
      <div *ngIf='!isLoggedIn'>
        <a
          routerLink='/sign-up'
          class='w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-green-600 hover:bg-green-700'
        >
          Sign up
        </a>
        <p class='mt-6 text-center text-base font-medium text-gray-500'>
          Existing customer?
          <a routerLink='/sign-in' class='text-green-600 hover:text-green-500'> Sign in </a>
        </p>
      </div>
    </div>
  </div>
</div>
