<div
  (mouseleave)='toggleFlyoutMenu()'
  class='absolute z-10 -ml-4 mt-3 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2'
>
  <div class='rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden'>
    <div class='relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8'>
      <a routerLink='/products' class='-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='h-6 w-6 text-green-600'
          fill='none'
          viewBox='0 0 24 24'
          stroke='currentColor'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10'
          />
        </svg>
        <div class='ml-4'>
          <p class='text-base font-medium text-gray-900'>All products</p>
        </div>
      </a>
      <a *ngFor='let category of categories'
         [routerLink]="['/products', category.formatName]"
         class='-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50'
      >
        <span [innerHtml]='category.heroIconAsSvg'></span>
        <div class='ml-4'>
          <p class='text-base font-medium text-gray-900'>{{ category.name }}</p>
        </div>
      </a>
    </div>
    <div class='px-5 py-5 bg-gray-50 space-y-6 sm:flex sm:space-y-0 sm:space-x-10 sm:px-8'>
      <div class='flow-root'>
        <a
          href='#'
          class='-m-3 p-3 flex items-center rounded-md text-base font-medium text-gray-900 hover:bg-gray-100'
        >
          <svg
            class='flex-shrink-0 h-6 w-6 text-gray-400'
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
            aria-hidden='true'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='2'
              d='M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z'
            />
          </svg>
          <span class='ml-3'>Contact Sales</span>
        </a>
      </div>
    </div>
  </div>
</div>
