<div
  class='inline-block align-bottom bg-white rounded-lg text-left overflow-hidden transform transition-all sm:align-middle sm:max-w-lg sm:w-full w-full'
>
  <div class='bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4'>
    <div class='sm:flex sm:items-start w-full'>
      <div class='mt-3 text-center sm:mt-0 sm:text-left w-full'>
        <h3 class='text-lg leading-6 font-medium text-gray-900' id='modal-title'>Yours data</h3>
        <form class='mt-2' [formGroup]='userInfoForm'>
          <div class='w-full'>
            <label class='block mt-2 text-sm text-left font-medium text-gray-600 dark:text-gray-200'>First name</label>
            <input formControlName='firstName'
                   class='block w-full px-4 pr-0 py-2 text-gray-700 bg-white border rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-opacity-40'
                   type='text'>
          </div>
          <div class='w-full'>
            <label class='block mt-2 text-sm text-left font-medium text-gray-600 dark:text-gray-200'>Last name</label>
            <input formControlName='lastName'
                   class='block w-full px-4 pr-0 py-2 text-gray-700 bg-white border rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-opacity-40'
                   type='text'>
          </div>
          <div class='w-full'>
            <label class='block mt-2 text-sm text-left font-medium text-gray-600 dark:text-gray-200'>Email</label>
            <input formControlName='email'
                   class='block w-full px-4 pr-0 py-2 text-gray-700 bg-white border rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-opacity-40'
                   type='email'>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class='bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse'>
    <button
      (click)='updateProfileData()'
      type='button'
      class='w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm'
    >
      Update
    </button>
    <button
      (click)='close()'
      type='button'
      class='mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm'
    >
      Cancel
    </button>
  </div>
</div>
